*{
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-color: rgba(48, 100, 173, 0.7);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.stopwatch{
    background-color: rgba(0,0,0,0.9);
    padding: 20px 24px;
    border-radius: 20px;


}

.time-displey{
    font-size:130px;
    font-weight:600 ;

}

.buttons{
    
    margin-top: 90px;
        margin-bottom: 30px;

}

.btn{
    font-size: 20px;
    background: none;
    border: none;
    color: #fff;
    background-color: var(--clr);
    padding: 12px 24px;
    border-radius: 10px;
    margin-inline: 12px;
    cursor: pointer;
}

